<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h3>Pagina Inicial</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt,
        aperiam voluptatibus nesciunt fugit, ipsam illo adipisci in nam et
        consequatur nobis reprehenderit repudiandae nisi numquam beatae
        accusamus mollitia amet dolore.
      </p>
    </main>
  </body>
</html>
